<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">

        <mat-card>
            <mat-card-content>


                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="95%" fxFlex.sm="95%"
                    fxFlex.xs="95%" fxLayoutAlign="center center">

                    <form [formGroup]="form">
                        <h2>Add Customer</h2>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="First Name" formControlName="first_name" [type]="'text'"
                                autocomplete="first-name">

                            <mat-error *ngIf="form.controls['first_name'].hasError('required')">
                                Please enter a your first name
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="Last Name" formControlName="last_name" [type]="'text'"
                                autocomplete="last-name">

                            <mat-error *ngIf="form.controls['last_name'].hasError('required')">
                                Please enter a your last name
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="city" formControlName="city" [type]="'text'"
                                autocomplete="city">

                            <mat-error *ngIf="form.controls['city'].hasError('required')">
                                Please enter a your city
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="state" formControlName="state" [type]="'text'"
                                autocomplete="state">

                            <mat-error *ngIf="form.controls['state'].hasError('required')">
                                Please enter a your state
                            </mat-error>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutGap="5px">
                            <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit"
                                (click)="customerId ? updateCustomer() : addCustomer()"
                                class="change_password_btn"><span *ngIf="customerId; else elseBlock">Update</span>
                                <ng-template #elseBlock>Add</ng-template>
                            </button>
                            <a [routerLink]="['/customers']" mat-raised-button color="accent">Cancel</a>
                        </div>
                    </form>

                </div>
            </mat-card-content>
        </mat-card>
    </div>


</div>